{
  "tabWidth": 2,
  "singleQuote": true,
  "semi": false,
  "jsxBracketSameLine": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "always",
  "proseWrap": "never",
  "printWidth": 80
}
